.footer {
  background-color: $color-green-dark;
  color: #fff;
  @extend %text-main;


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__logo-container {
    width: 96px;
  }

  &__logo {
    width: 100%;
    object-fit: cover;
  }

  &__contact-info {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: inherit;
  }

}