.header {
  padding: 24px 0;
  position: relative;

  @include onMobile {
    padding: 8px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 45px;

    @include onTablet {
      justify-content: space-between;
    }
  }

  &__logo {
    max-width: 202px;
  }
}