.hero {
  padding: 24px 0 28px;
  background-color: $color-green-dark;
  color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;

    &-text {
      max-width: 422px;

      @include onTablet {
        max-width: 322px;
      }

      @include onMobile {
        max-width: none;
      }
    }
  }

  &__subtitle {
    margin-bottom: 24px;
    font-family: $font-heading;
    font-size: 3.2rem;
    line-height: normal;
  }

  &__description {
    margin-bottom: 30px;
    font-family: $font-title;
    font-size: 2rem;
    line-height: 140.625%;

    @include onMobile {
      font-size: 1.6rem;
    }
  }

  &__img-container {
    width: 375px;
    height: 325px;

    @include onTablet {
      width: 188px;
      height: 164px;
    }

    @include onMobile {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}