.page {
  font-family: $font-main;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-green-dark;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    font-size: 1.6rem;
  }

  &__section {
    padding: 88px 0 0;

    @include onTablet {
      padding: 66px 0 0;
    }

    @include onMobile {
      padding: 32px 0 0;
    }
  }
}

.confirm {
  padding: 10px 13%;
}

input,
select,
option {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
}