.page {
  font-family: $font-main;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-green-dark;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    font-size: 1.6rem;
    position: relative;
  }

  &__section {
    padding: 88px 0 0;

    @include onTablet {
      padding: 66px 0 0;
    }

    @include onMobile {
      padding: 32px 0 0;
    }
  }
}

input,
select,
option {
  background-color: #eeeeee;
  border: none;
  padding: 16px;
  border-radius: 0.2rem;
}

.scroll-blocked {
  max-height: 100vh;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}