.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  border: none;
  border-radius: 5px;
  @extend %text-button;
  white-space: nowrap;
  cursor: pointer;
  transition: all $transition;

  @include onMobile {
    width: 100%;
  }

  &-primary {
    background-color: $color-yellow;
    color: black;
  }

  &:hover {
    transform: scale(1.01);
    background-color: darken($color: $color-yellow, $amount: 5);
  }
}