@import "./vars";

%h1 {
  margin: 0;
  font-size: 5.6rem;
  font-family: $font-heading;
  font-weight: 600;
  color: $color-yellow;
}

%h2 {
  margin: 0;
  font-size: 4rem;
  font-family: $font-heading;
}

%h3 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 150%;
  font-family: $font-heading;
}

%h4 {
  margin: 0;
  font-size: 1.8rem;
  font-family: $font-heading;
}

%text-main {
  font-size: 1.6rem;
  line-height: 150%;
}