$font-main: "Karla", sans-serif;
$font-heading: "Markazi Text", serif;
$font-title: "Roboto", sans-serif;


$color-yellow: #F4CE14;
$color-green-dark: #495E57;
$color-dark: #000;
$color-dark-secondary: #333333;

$transition: 0.3s ease-in;

